<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log ind på DBA 2.0</title>
    <link rel="stylesheet" href="style.css">
    <script src="login.js" async defer></script>
</head>
<body>
    <h1>
        DBA 2.0
    </h1>
    <main>
        Opret profil
    </main>
    <form>
        <label for="udfyld">Udfyld nedenstående felter</label>
        <div>
            <input placeholder="E-mail" type="email" id="skrivemail" required>
        </div>
        <div>
            <input placeholder="Password" type="password" id="skrivpasssword" required>
        </div>
        <div>
            <input type="submit" value="Submit" id="indsend">
        </div>
        <div>
            <label for="glem">Jeg ønsker ikke længere at blive husket</label>
            <input type="reset" value="Forget me" id="glem">
        </div>
    </form>
    <footer>
        &copy; 2021, eksamensopgave udarbejdet af S152415
    </footer>
</body>
</html>