<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opret profil på DBA 2.0</title>
    <link rel="stylesheet" href="style.css">
    <script src="login.js" async defer></script>
</head>
<body>
    <div>
        <h1>
            DBA 2.0
        </h1>
        <main>
            Opret profil
        </main>
    </div>
    <div>
        <form method="post">
            <label for="udfyld">Udfyld nedenstående felter</label>
                <br><input placeholder="Full name" type="text" id="name" required/>
                <br><input placeholder="E-mail" type="email" id="email" required/>
                <br><input placeholder="Password" type="password" id="password" required/>
                <input placeholder="Confirm password" type="password" id="password" required/>
                <br><input placeholder="Country" type="text" id="country"/>
                <br><input placeholder="City" type="text" id="city"/>
                <br><input placeholder="Address" type="text" id="address"/>
                <br><input placeholder="Zip code" type="text" id="zipcode"/>
                <br><input placeholder="Phone number" type="tel" id="number"/>
                <br><input placeholder="Birthdate" type="date" id="date"/>
        </form>
    </div>
    <div>
        <p>
            <input value="Submit" type="submit" id="submit"/>
        </p>
    </div>
    <footer>
        &copy; 2021, eksamensopgave udarbejdet af S152415
    </footer>
</body>
</html>