<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBA 2.0</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>
        DBA 2.0
    </h1>
    <main>
        Velkommen til DBA 2.0
    </main>
    <p>
        <br>Få en glimrende oplevelse med vores veludviklede hjemmeside DBA 2.0
        <br>Du kan browse igennem alle tænkelige type varer et enkelt sted med vores glimrende søge funktion, som gør, at du kan søge på en kategori, og så finder vi dit ønske frem. 
        <br>Herligt
        <br>Opret din profil nu hos os og 
        <br>Gør dine køb og salg nemmere
        <button>Log ind</button>
        <button>Opret annonce</button>
    </p>
    <footer>
        &copy; 2021, eksamensopgave udarbejdet af S152415
    </footer>
</body>
</html>